<div class="main-div">
  <div class="container">
    <h1>Welcome to your torrent scrapper</h1>
    <p>Find out by clinking on stuff</p>
      <form id="search-movies" class="form-inline">
        <input id="keyword" name="search[movie]" type="text" class="form-control mr-2" placeholder="Find movies">
        <input type="submit" class="btn btn-primary mr-auto ml-2" id= "search-button" value="Search">
      </form>

      <div id="results">

      </div>
  </div>
</div>
